// Fonts
$heading:  'Copse', serif;
$text1: 'Merriweather', serif;
$text2: 'Source Serif Pro', serif;

// Colors
$black: #000;
$white: #fff;
$yellow: #fffb32;
$light-green: #47b510;
$dark-green: #4b9625;
$brown: #635931;
